<!DOCTYPE html>
<html>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      let date = new Date();
      let isQingming = (date.getMonth() === 3 && date.getDate() >= 4 && date.getDate() <= 6);
      let year = date.getFullYear();
      let month = String(date.getMonth() + 1).padStart(2, '0');
      let day = String(date.getDate()).padStart(2, '0');
      let hours = String(date.getHours()).padStart(2, '0');
      let minutes = String(date.getMinutes()).padStart(2, '0');
      let seconds = String(date.getSeconds()).padStart(2, '0');

      let formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
      console.log(formattedDate)

      if (isQingming) {
        document.documentElement.classList.add("filter-gray");
      }
    });
</script>


  {% include head.html %}

  <body class="index">

    {% include header.html %}
    {% include docs_header.html %}
    {% if page.title %}
      {% include banner.html %}
    {% endif %}

    {{ content }}

    {% include footer.html %}

  </body>
</html>
